@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-max-height {
  transition: max-height 0.7s ease-in-out;
}

/* Add this to your CSS file */
.transition-transform {
  transition: transform 0.5s ease-in-out;
}

/* Add this to your CSS file */
.transition-all {
  transition: all 0.5s ease-in-out;
}
